<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Cars List</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <link rel="stylesheet" th:href="@{/webjars/bootstrap/4.2.1/css/bootstrap.min.css}"/>

    <script th:src="@{/webjars/jquery/3.2.1/jquery.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/4.2.1/js/bootstrap.min.js}"></script>



</head>
<body>
<div class="container">

    <table class="table">
        <thead>
        <tr>

            <td>Type</td>
            <td>section name</td>
            <td>web title</td>

        </tr>
        </thead>
        <tbody>

        <tr th:each="result:${news}">

            <td th:text="${result.type}"></td>
            <td th:text="${result.sectionName}"></td>
            <td th:text="${result.webTitle}"></td>

            <td>
                <form th:action="@{'/news/add'}" th:object="${result}" method="post">
                <input type="text" th:field="*{type}" />
                <input type="text" th:field="*{sectionName}" />
                <input type="text" th:field="*{webTitle}" />
                    <button type="submit">add news</button>
                </form>
         </td>
        </tr>
        </tr>
        </tbody>

    </table>


</div>

</body>

</html>